*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  $openSans: 'Open Sans', Helvetica, Arial, sans-serif;
  body {
    background: #fdcb6e;
    font-family: $openSans;
  }
  
  .buttons {
    margin-top: 40px;
    text-align: center;
    border-radius:30px;
  }
  
  $cyan: #1DB954;
  $dark: #FFFFFF;
  $borderW: 2px;
  
  .blob-btn {
    $numOfBlobs: 4;
    z-index: 1;
    position: relative;
    padding: 20px 46px;
    text-align: center;
    text-transform: uppercase;
    color: $cyan;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius:30px;
    
    &:before {
      content: "";
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: $borderW solid $cyan;
      border-radius:30px;
    }
    
    &:after {
      content: "";
      z-index: -2;
      position: absolute;
      left: $borderW*1.5;
      top: $borderW*1.5;
      width: 100%;
      height: 100%;
  
      transition: all 0.3s 0.2s;
      border-radius:30px;
    }
    
    &:hover {
      color: $dark;
      border-radius:30px;
      
      &:after {
        transition: all 0.3s;
        left: 0;
        top: 0;
        border-radius:30px;
      }
    }
    
    &__inner {
      z-index: -1;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius:30px;
      background:#ffffff;
    }
    
    // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
    &__blobs {
      position: relative;
      display: block;
      height: 100%;
      filter: url('#goo');
    }
    
    &__blob {
      position: absolute;
      top: $borderW;
      width: 100% / $numOfBlobs;
      height: 100%;
      background: $cyan;
      border-radius: 100%;
      transform: translate3d(0,150%,0) scale(1.7);
      transition: transform 0.45s;
      
      @supports(filter: url('#goo')) {
        transform: translate3d(0,150%,0) scale(1.4);
      }
      
      @for $i from 1 through $numOfBlobs {
        &:nth-child(#{$i}) {
          left: ($i - 1) * (120% / $numOfBlobs);
          transition-delay: ($i - 1) * 0.08s;
        }
      }
      
      .blob-btn:hover & {
        transform: translateZ(0) scale(1.7);
        
        @supports(filter: url('#goo')) {
          transform: translateZ(0) scale(1.4);
        }
      }
    }
    
  }

$t: 1s;
$d: 0.03em;
$n: 3;
$e: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
$front: #111;
$back: #1DB954;

.popout{
	font-family: Futura, sans-serif;
	font-weight: 900;
    margin: auto;

	@keyframes ani{
		0%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		30%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		70%{
			transform: translate3d($d,-$d,0);
			text-shadow: -$d $d $back;
			color: $front;
		}
		100%{
			transform: translate3d($d,-$d,0);
			text-shadow: -$d $d $back;
			color: $front;
		}
	}
	span{
		position: relative;
		display: inline-block;
		animation: ani $t infinite alternate $e;
		@for $i from 1 through $n{
			&:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
		}
	}
	
}

audio{
  border-radius: 10px;
  background: #1DB954;
}

.containerGRIDFinish {
  width: 600px;
  height: 110px;
  background: whitesmoke;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
}

.containerGRID {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
}
.box {
  font-size: 16px;
  padding: 10px;
}

.containerGRIDSmall {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
}
.boxSmall {
  font-size: 16px;
  padding: 15px;
}

.containerGRIDLarge {
  display: grid;
  height: fit-content;
  width: 600px;
  overflow: auto;
  max-height:600px;
  margin: 15px auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  background: whitesmoke;
  border-radius: 10px;
}

.boxLarge{
  font-size: 16px;
}

*, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.rainbow {
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
    height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#1DB954, #1DB954), linear-gradient(#1DB954, #1DB954), linear-gradient(#1DB954, #1DB954), linear-gradient(#1DB954, #1DB954);
		animation: rotate 6s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: whitesmoke;
		border-radius: 5px;
	}
}
  




.inputGroup {
  background-color: wh;
  display: block;
  margin: 10px 0;
  position: relative;

  label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: #1DB954;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #D1D7DC;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  input:checked ~ label {
    color: #fff;

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      background-color: #5562eb;
      border-color: #5562eb;
    }
  }

  input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}

.inputGroup2 {
  background-color: wh;
  display: block;
  margin: 10px 0;
  position: relative;

  label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: #1DB954;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #5562eb;
      background-color: #5562eb;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 4 8 l 12 14 l 12 -14 l -5 0 l -7 8 l -7 -8 l -5 0' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: -0.7px 1.6px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  input:checked ~ label {
    color: #fff;

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}